.home-container {
    position: relative;
}
    #brownie-bg {
        position: absolute;
        top: 500px;
        left: 0px;
        z-index: -1;
    }

@media (max-width: 481px) {
    #brownie-bg {
        width: 100%; 
    }
}