nav a {
    text-decoration: none;
    color: white;
    transition: 300ms color ease-in-out;
    margin: 10px 0;
}

nav a:hover {
    color: #DB3639;
}

.active {
    color: #DB3639;
}

@media (max-width: 481px) {
	nav a {
        margin: 5px 0;
		text-decoration: none;
		color: white;
        font-weight: 700;
	}
}