.quantity-button {
    display: inline-block;
    width: auto;
    box-shadow: 0px 0px 10px -5px var(--color-shadow);
    border-radius: 30px;
}

    .quantity-button button {
        border: none;
        color: white;
        background-color: var(--color-red) ;
        width: 25px;
        height: 30px;
        cursor: pointer;
    }
    
    .quantity-button button:first-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .quantity-button button:last-child {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .quantity-button div {
        display: inline-block;
        vertical-align: top;
        height: 30px;
        line-height: 30px;
        min-width: 20px;
        text-align: center;
    }